html {
  background-image: url("https://cent.imgix.net/aa71853a-ef16-458c-9a05-28ad1f86732c.gif?");
  background-size: 1400px 800px;
  text-align: center;
}
nav ul {
  list-style-type: none;
  background-color: rgb(193, 248, 255);
  font-family: comic sans MS;
  font-weight: bold;
  padding: 16px;
  margin: 0px;
  margin-bottom: auto;
}
nav ul li {
  display: inline;
  border-right: 2px solid black;
  padding-right: 8px;
  padding-left: 8px;
}
nav ul li:last-child {
  border-right: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
article {
  padding: 24px;
  background-color: white;
}
h1 {
  font-size: 40px;
  text-align: none;
  font-family: permanent marker;
}
audio {
  border: 4px solid black;
  background-color: blue;
  color: white;
}