html {
  background-image: url("https://cent.imgix.net/aa71853a-ef16-458c-9a05-28ad1f86732c.gif?");
  background-size: 1500px 1100px;
  margin: auto;
  text-align: center;
}
nav ul {
  list-style-type: none;
  font-family: comic sans MS;
  font-weight: bold;
  padding: 16px;
  margin: 0px;
  margin-bottom: auto;
  max-height: 20px;
  margin-top: 10px;
}
nav ul li {
  display: inline;
  border-right: 2px solid white;
  padding-right: 8px;
  padding-left: 8px;
}
nav ul li:last-child {
  border-right: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
  padding: 8px;
  background-color: white;
  border-radius: 10px;
}
nav ul li a:hover {
  background-color: rgb(226, 225, 225);
  text-decoration: underline;
}
h1 {
  font-size: 40px;
  text-align: none;
  font-family: permanent marker;
  color: white;
}
audio {
  border: 4px solid black;
  border-radius: 15px;
  background-color: blue;
  color: white;
  padding: 10px;
}
h2 {
  color: white;
}
section {
  background-color: lightseagreen;
  color: black;
  border: 10px black;
  border-radius: 24px;
  text-align: center;
  padding: 24px;
  margin-bottom: 48px;
  margin-top: 48px;
  margin-left: 48px;
  margin-right: 48px;
}
.logo {
  width: 300px;
  height: 90px;
  text-align: left;
}
header h1 {
  text-align: right;
  float: right;
}
header {
  color: white;
  padding: 10px;
  max-height: 250px;
  text-align: left;
}
p {
  font-family: pangolin;
}
aside {
  padding: 24px;
  padding-top: 0px;
  width: 34%;
  color: black;
  border-radius: 18px;
  margin-right: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  float: right;
  text-decoration: black;
}
article {
  width: 56%;
  padding: 0px;
  float: left;
  margin: 24px;
  margin-right: 0px;
  border-radius: 18px;
}
aside a {
  background-color: lightblue;
  border: 10px black;
  border-radius: 24px;
  text-align: center;
  padding: 24px;
  text-decoration: none;
  display: inline-block;
  margin: 18px;
}
aside a:hover {
  background-color: rgb(123, 123, 253);
}