html {
  background-image: url("https://cent.imgix.net/aa71853a-ef16-458c-9a05-28ad1f86732c.gif?");
  background-size: 1500px 900px;
  text-align: center;
  margin: auto;
}
nav ul {
  list-style-type: none;
  background-color: rgb(193, 248, 255);
  font-family: comic sans MS;
  font-weight: bold;
  padding: 16px;
  margin: 0px;
  margin-bottom: auto;
  max-height: 30px;
}
nav ul li {
  display: inline;
  border-right: 2px solid black;
  padding-right: 8px;
  padding-left: 8px;
}
nav ul li:last-child {
  border-right: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  font-size: 20px;
  text-decoration: underline;
}
h1 {
  font-size: 40px;
  text-align: none;
  font-family: permanent marker;
  color: white;
}
audio {
  border: 4px solid black;
  background-color: blue;
  color: white;
}
h2 {
  color: white;
}
section {
  background-color: lightseagreen;
  color: black;
  border: 10px black;
  border-radius: 24px;
  text-align: center;
  padding: 24px;
  margin-bottom: 48px;
  margin-top: 48px;
  margin-left: 48px;
  margin-right: 48px;
}